<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-5">
			<form action="/submit" id="textform" method="post">
				<div class="form-group">
					<input type="text" class="form-control" name="author" placeholder="Your name">
				</div>
				<div class="form-group">
					<textarea class="form-control" name="content" rows="4" cols="50"
						placeholder="Just write whatever you want to..."></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Post</button>
			</form>
			<div class="p-3 mb-2 bg-dark text-white">
				<a href="http://0.0.0.0:8000/mine" target="_blank"><button class="btn btn-warning">Request to
						mine</button></a>
				<a href="/"><button class="btn btn-info">Resync</button></a>
			</div>
		</div>
		<div class="col-7">
			<div class="row">
				{% for post in posts %}
				<div class="col-12">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">{{post.author}}</h5>
							<p class="card-text">{{post.content}}</p>
							<a href="#" class="btn btn-primary">Reply</a>
						</div>
						<div class="card-footer text-muted">
							Posted at: {{readable_time(post.timestamp)}}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}